.git
*.cache
.cache/
/eln-cache/
projectile-bookmarks.eld
/recentf
/backups/
auto-save-list/
/org-roam.db
/dirvish/
/transient/
/.org-id-locations
/.pdf-view-restore
/tramp
/nov-places
/tree-sitter/
/url/
/eshell/history
/eshell/lastdir
/tldr/
/.lsp-session-v1
*.elc
/elpa/tree-sitter-langs-*/bin/
/elpa/pdf-tools-*/epdfinfo
/.persistent-scratch
/elpa/
/eshell/
/erc/
/crossword/
/games/
/projects
/tramp-connection-history
/var/
/request/
/.elpa-mirror/
/ielm-history.eld
/.elpa-mirrors/
/forge-database.sqlite
/.scratch
/.elfeed-db/
/persist/
/pomm
/ai-conversations/
/.emacs-history
/emms/
/oauth2-auto.plist

/.org-generic-id-locations
/multisession/
