/* Coolors Exported Palette - https://coolors.co/bfb48f-3083dc-363020-605c4e-451f55-0a2463-6e0d25-3f7d20-140400 */

/* CSS HEX */
--sand: #bfb48fff;
--brilliant-azure: #3083dcff;
--dark-khaki: #363020ff;
--stone-brown: #605c4eff;
--dark-amethyst: #451f55ff;
--imperial-blue: #0a2463ff;
--dark-amaranth: #6e0d25ff;
--green: #3f7d20ff;
--coffee-bean: #140400ff;

/* CSS HSL */
--sand: hsla(46, 27%, 65%, 1);
--brilliant-azure: hsla(211, 71%, 53%, 1);
--dark-khaki: hsla(44, 26%, 17%, 1);
--stone-brown: hsla(47, 10%, 34%, 1);
--dark-amethyst: hsla(282, 47%, 23%, 1);
--imperial-blue: hsla(222, 82%, 21%, 1);
--dark-amaranth: hsla(345, 79%, 24%, 1);
--green: hsla(100, 59%, 31%, 1);
--coffee-bean: hsla(12, 100%, 4%, 1);

/* SCSS HEX */
$sand: #bfb48fff;
$brilliant-azure: #3083dcff;
$dark-khaki: #363020ff;
$stone-brown: #605c4eff;
$dark-amethyst: #451f55ff;
$imperial-blue: #0a2463ff;
$dark-amaranth: #6e0d25ff;
$green: #3f7d20ff;
$coffee-bean: #140400ff;

/* SCSS HSL */
$sand: hsla(46, 27%, 65%, 1);
$brilliant-azure: hsla(211, 71%, 53%, 1);
$dark-khaki: hsla(44, 26%, 17%, 1);
$stone-brown: hsla(47, 10%, 34%, 1);
$dark-amethyst: hsla(282, 47%, 23%, 1);
$imperial-blue: hsla(222, 82%, 21%, 1);
$dark-amaranth: hsla(345, 79%, 24%, 1);
$green: hsla(100, 59%, 31%, 1);
$coffee-bean: hsla(12, 100%, 4%, 1);

/* SCSS RGB */
$sand: rgba(191, 180, 143, 1);
$brilliant-azure: rgba(48, 131, 220, 1);
$dark-khaki: rgba(54, 48, 32, 1);
$stone-brown: rgba(96, 92, 78, 1);
$dark-amethyst: rgba(69, 31, 85, 1);
$imperial-blue: rgba(10, 36, 99, 1);
$dark-amaranth: rgba(110, 13, 37, 1);
$green: rgba(63, 125, 32, 1);
$coffee-bean: rgba(20, 4, 0, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #bfb48fff, #3083dcff, #363020ff, #605c4eff, #451f55ff, #0a2463ff, #6e0d25ff, #3f7d20ff, #140400ff);
$gradient-right: linear-gradient(90deg, #bfb48fff, #3083dcff, #363020ff, #605c4eff, #451f55ff, #0a2463ff, #6e0d25ff, #3f7d20ff, #140400ff);
$gradient-bottom: linear-gradient(180deg, #bfb48fff, #3083dcff, #363020ff, #605c4eff, #451f55ff, #0a2463ff, #6e0d25ff, #3f7d20ff, #140400ff);
$gradient-left: linear-gradient(270deg, #bfb48fff, #3083dcff, #363020ff, #605c4eff, #451f55ff, #0a2463ff, #6e0d25ff, #3f7d20ff, #140400ff);
$gradient-top-right: linear-gradient(45deg, #bfb48fff, #3083dcff, #363020ff, #605c4eff, #451f55ff, #0a2463ff, #6e0d25ff, #3f7d20ff, #140400ff);
$gradient-bottom-right: linear-gradient(135deg, #bfb48fff, #3083dcff, #363020ff, #605c4eff, #451f55ff, #0a2463ff, #6e0d25ff, #3f7d20ff, #140400ff);
$gradient-top-left: linear-gradient(225deg, #bfb48fff, #3083dcff, #363020ff, #605c4eff, #451f55ff, #0a2463ff, #6e0d25ff, #3f7d20ff, #140400ff);
$gradient-bottom-left: linear-gradient(315deg, #bfb48fff, #3083dcff, #363020ff, #605c4eff, #451f55ff, #0a2463ff, #6e0d25ff, #3f7d20ff, #140400ff);
$gradient-radial: radial-gradient(#bfb48fff, #3083dcff, #363020ff, #605c4eff, #451f55ff, #0a2463ff, #6e0d25ff, #3f7d20ff, #140400ff);